.App-header {
    color: white;
    font-size: calc(10px + 2vmin);
}

.alert-success {
    background-origin: border-box;
}

.unique-name {
    color: #00a9bf; 
    font-family: "Great Vibes", cursive; 
    font-size: 25px; 
    font-weight: normal; 
    margin-top: 40px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
}